
<div class="container">
	<div class="row">
		<div class="col-md-6 offset-md-3">


			<span *ngIf="message" class="error-message">{{message}}</span>

			<h1>{{getTitle()}}</h1>			
			<form (submit)="submit(email.value, password.value)">
				<fieldset>

					<fieldset class="form-group">
						<input class="form-control" type="email" placeholder="Email" #email>			
					</fieldset>

					<fieldset class="form-group">						
						<input class="form-control" type="password" placeholder="Password" #password>
					</fieldset>					

					<button type="submit" class="btn btn-primary">{{getTitle()}}
					</button>

				</fieldset>
				
			</form>
		</div>
	</div>
</div>
