
.send-box {
	width: 100%;
}

.send-box  input {
	flex: 1;
}

.send-box  button {
	flex: 0;
}

.message-container {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.top {
	flex: 1;
	margin-left: 0;
}
