<div class="message-container">

	<div class="container-fluid top">
		<div class="row">
			<div class="col-xs-12">



				<div class="media" *ngFor="let message of messages">
					<div class="media-left" href="#">
						<img class="media-object avatar " src="..." alt="Generic placeholder image">
					</div>
					<div class="media-body">
						<h4 class="media-heading">{{message.senderName}}</h4>
						{{message.body}}
					</div>
				</div>



			</div>
		</div>
	</div>

	<form (ngSubmit)="submit(input.value)" >

		<fieldset class="send-box">

			<fieldset class="form-group col-xs-10">
				<input type="text" #input>
			</fieldset>

			<fieldset class="form-group col-xs-2">
				<button type="submit" class="btn btn-default">Send</button>
			</fieldset>

		</fieldset>
	</form>
</div>