.channel-container {
	display: flex;
	height: 100%;
}

.channel-sidebar {
	padding: 15px;
}

nav {
	background-color: #34495e;
	width: 200px;
	color: #fff;	
}

.content {
	background-color: yellow;
	flex: 1;
}

.nav-pills a {
	color: #fff;	
}

.nav-pills a:hover {
	background-color: #560000;
}